  .footer {
    float: right;
    text-align: center;
    padding: 10px 20px;
    text-decoration: underline;
    font-size: 19px;
    color: white;
  }

  .footer a:link, a:visited {
    color: white;
  }