<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="green-bold">
                <p>Hello! I'm Kevin! 👋 </p>
            </div>
                <span class="main-text">An always learning <span class="green-text">developer </span>striving to build and design new and cool software. <br><br>
                Currently seeking new career oppurtunities.
                </span> 
        </div>
        <div class="col-sm-6">
            <img src="assets\images\profile.png" class="center">
        </div>
    </div>
</div>

<br><br>

<div class="container" style="background-color: #04AA6D">
    <div class="white-text"><p>Projects:</p></div>
    <div class="row">
        <div class="col-sm-6" style="border-style:solid">
            <span class="white-text">Placeholder 1</span>
        </div>
        <div class="col-sm-6" style="border-style:solid">
            <span class="white-text">Placeholder 2</span>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-sm-6" style="border-style:solid">
            <span class="white-text">Placeholder 3</span>
        </div>
        <div class="col-sm-6" style="border-style:solid">
            <span class="white-text">Placeholder 4</span>
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="green-bold">About Me:</div>
    <span class="main-text">Info Goes Here</span>
</div>

<br><br>

<div class="container">
    <div class="green-bold">Resume and Skillset:</div>
    <span class="main-text">Placeholder</span>
</div>
