<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <br /><br />
      <div class="green-bold">
        <p>Hello! I'm Kevin! 👋</p>
      </div>
      <span class="main-text"
        >An always learning
        <span class="green-text">web developer </span>striving to build and
        design websites that are easy to read and meets the needs of users and
        clients alike.</span
      >
      <br />
      <br />
      <span class="main-text"
        >If you would like to get in touch, you can contact me by
        <a class="blue-text" href="mailto:ktruong1018@gmail.com">email</a> .</span
      >
    </div>
    <div class="col-sm-6">
      <img src="assets\images\profile2.png" class="center" />
    </div>
  </div>

  <!-- <br />
  <br />
  <br />
  <br />
  <br />
  <br /> -->

  <div class="row">
    <span class="white-bold">Experience</span>
  </div>
</div>
