<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="green-bold">
                <p>Hello! I'm Kevin! 👋 </p>
            </div>
                <span class="main-text">An always learning <span class="green-text">developer </span>striving to build and design new and cool software.</span> 
                <br>
                About<br>
                Experience<br>
        </div>
        <div class="col-sm-6">
            <img src="assets\images\profile.png" class="center">
        </div>
    </div>
</div>

<br><br>

<div class="container">
    <div class="green-bold">About Me:</div>
    <span class="main-text">Info Goes Here</span>
</div>

<br><br>

<div class="container">
    <div class="green-bold">Resume and Skillset:</div>
    <span class="main-text">Placeholder</span>
</div>
