.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  text-align: center;
  padding: 10px 20px;
  text-decoration: underline;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover,a:active,a:visited { //use visited property to color hyperlinks
  background-color: #04aa6d;
  color: white;
}

.col h3 {
    font-weight: bold;
    color:#04aa6d;
    padding: 10px 20px;
    float: left;
}
