/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.container {
    margin-top: 20px;
    padding: 15px 15 px;
}

body {
    background-color: rgb(15,23,42);
    color:white;
}